<div class="col-12 grid-margin">
    <div class="card">
        <div class="card-body">
            <h4 class="card-title">Create Exam</h4>
            <form id="examForm" class="form-sample">
                <p class="card-description">Exam Details</p>
                <div class="row">
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Exam Title</label>
                            <div class="col-sm-9">
                                <input type="text" id="examTitle" class="form-control" required>
                            </div>
                        </div>
                    </div>
                    <div class="col-md-6">
                        <div class="form-group row">
                            <label class="col-sm-3 col-form-label">Show in HomePage</label>
                            <div class="col-sm-9">
                                <input type="checkbox" id="showInHomePage" class="form-check-input">
                            </div>
                        </div>
                    </div>
                </div>

                <p class="card-description">Questions</p>
                <div id="questionsContainer"></div>

                <button type="button" id="addQuestion" class="btn btn-primary">Add Question</button>
                <button type="submit" class="btn btn-success">Save Exam</button>
            </form>
        </div>
    </div>
</div>


<!-- Popup Modal -->
<div id="questionPopup" class="modal" style="text-align:center;">
    <div class="modal-content">
        <span class="close">&times;</span>
        <h4>Add Question</h4>
        <textarea id="questionText" class="form-control" placeholder="Enter question"></textarea>
        <div id="answersContainer" style="" class="container"></div>
        <div class="row mt-2" style="text-align:center">
            <button type="button" id="addAnswer" class="btn btn-primary col-2">Add Answer</button>
            <div class="col-2"></div>
            <button type="button" id="saveQuestion" class="btn btn-success col-2">Save Question</button>
        </div>
    </div>
</div>

@section scripts {
    <script src="~/Admin/assets/vendors/tinymce/tinymce.min.js"></script>
    <script src="~/Admin/assets/vendors/quill/quill.min.js"></script>
    <script src="~/Admin/assets/vendors/simplemde/simplemde.min.js"></script>
    <script src="~/Admin/assets/js/editorDemo.js"></script>
    <script src="~/js/AddExam.js"></script>

}